$answerHeight: 5rem;
$suggestionsHeight: 3rem;
$bgColor: #1e1e1e;
$centralTextColor: #fff;
$menuBgColor: #222;
$menuColor: #fff;
$answerInputBgColor: #222;
$answerInputColor: #fff;
$sendButtonBgColor: #222;
$sendButtonColor: #fff;
$userInputsOutlineColor: orange;
$suggestionsBgColor: #333;
$suggestionsColor: #fff;

body {
	height: 100%;
	background-color: $bgColor;
}

.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	height: $answerHeight;
}

.menu button {
	font-size: 1.5rem;
	background-color: $menuBgColor;
	color: $menuColor;
}

i {
	color: orange;
}

.answer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	height: $answerHeight;
}

.answer input {
	text-align: center;
	font-size: 1.5rem;
	border: none;
	outline: 1px solid $userInputsOutlineColor;
	background-color: $answerInputBgColor;
	color: $answerInputColor;
}

.answer button {
	outline: 1px solid $userInputsOutlineColor;
	background-color: $sendButtonBgColor;
	color: $sendButtonColor;
}

.suggestions {
	position: fixed;
	left: 0;
	bottom: $answerHeight;
	width: 100%;
	height: $suggestionsHeight;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.suggestions div {
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: $suggestionsBgColor;
	color: $suggestionsColor;
	display: flex;
	justify-content: center;
	align-items: center;
}

.suggestions div:hover {
	opacity: .75;
	cursor: pointer;
	transition: .3s;
}

.answer input {
	width: 75%;
}

.answer button {
	width: 25%;
	font-size: 2rem;
}

.timer, .question, .resultMessage {
	font-size: 2rem;
	text-align: center;
	color: $centralTextColor;
}

.question img {
	max-width: 100%;
	max-height: 50vh;
}

#root {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 75%;
}

.initialConfig {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	width: 90%;
	color: #fff;
	text-align: center;
}

.initialConfig input, .initialConfig textarea {
	width: 50%;
	padding: 1rem;
	border-radius: .25rem;
	background-color: #222;
	color: #fff;
	border: none;
	text-align: center;
}

.initialConfig h2 {
	color: orange;
}

.initialConfig label {
	font-weight: bolder;
	color: #fff;
	font-size: 1.1rem;
}

.initialConfig button {
	border-radius: .5rem;
	background-color: #222;
	color: orange;
	font-size: 2rem;
}

.initialConfig button:hover {
	transition: .5s;
	transform: scale(1.25);
	transform: rotate(15deg);
}

.initialConfig h1 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 1rem;
	background-color: #222;
	color: #fff;
}

@media (max-width: 780px) {
	.initialConfig {
		width: 98%;
	}
	.initialConfig input, .initialConfig textarea {
		width: 100%;
	}
	.menu button {
		font-size: 1rem;
	}
}